 <div class="header" id="myHeader">
  <img class="headerlogo" src="../assets/logotext.png" alt="">
</div>

<ul class=grid style="background-color: #defcee;">
  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0001.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0001.n}}</figcaption>
      <figcaption> Ref: AG0001 // Item com {{AG0001.t}} // {{AG0001.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0002.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0002.n}}</figcaption>
      <figcaption> Ref: AG0002 // Item com {{AG0002.t}} // {{AG0002.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0003.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0003.n}}</figcaption>
      <figcaption> Ref: AG0003 // Item com {{AG0003.t}} // {{AG0003.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0004.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0004.n}}</figcaption>
      <figcaption> Ref: AG0004 // Item com {{AG0004.t}} // {{AG0004.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0005.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0005.n}}</figcaption>
      <figcaption> Ref: AG0005 // Item com {{AG0005.t}} // {{AG0005.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0006.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0006.n}}</figcaption>
      <figcaption> Ref: AG0006 // Item com {{AG0006.t}} // {{AG0006.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0007.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0007.n}}</figcaption>
      <figcaption> Ref: AG0007 // Item com {{AG0007.t}} // {{AG0007.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0008.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0008.n}}</figcaption>
      <figcaption> Ref: AG0008 // Item com {{AG0008.t}} // {{AG0008.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0010.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0010.n}}</figcaption>
      <figcaption> Ref: AG0010 // Item com {{AG0010.t}} // {{AG0010.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0011.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0011.n}}</figcaption>
      <figcaption> Ref: AG0011 // Item com {{AG0011.t}} // {{AG0011.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0012.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0012.n}}</figcaption>
      <figcaption> Ref: AG0012 // Item com {{AG0012.t}} // {{AG0012.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0013.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0013.n}}</figcaption>
      <figcaption> Ref: AG0013 // Item com {{AG0013.t}} // {{AG0013.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0014.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0014.n}}</figcaption>
      <figcaption> Ref: AG0014 // Item com {{AG0014.t}} // {{AG0014.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0015.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0015.n}}</figcaption>
      <figcaption> Ref: AG0015 // Item com {{AG0015.t}} // {{AG0015.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0016.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0016.n}}</figcaption>
      <figcaption> Ref: AG0016 // Item com {{AG0016.t}} // {{AG0016.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0017.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0017.n}}</figcaption>
      <figcaption> Ref: AG0017 // Item com {{AG0017.t}} // {{AG0017.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0020.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0020.n}}</figcaption>
      <figcaption> Ref: AG0020 // Item com {{AG0020.t}} // {{AG0020.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0021.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0021.n}}</figcaption>
      <figcaption> Ref: AG0021 // Item com {{AG0021.t}} // {{AG0021.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0022.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0022.n}}</figcaption>
      <figcaption> Ref: AG0022 // Item com {{AG0022.t}} // {{AG0022.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0023.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0023.n}}</figcaption>
      <figcaption> Ref: AG0023 // Item com {{AG0023.t}} // {{AG0023.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0025.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0025.n}}</figcaption>
      <figcaption> Ref: AG0025 // Item com {{AG0025.t}} // {{AG0025.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0026.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0026.n}}</figcaption>
      <figcaption> Ref: AG0026 // Item com {{AG0026.t}} // {{AG0026.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0027.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0027.n}}</figcaption>
      <figcaption> Ref: AG0027 // Item com {{AG0027.t}} // {{AG0027.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0028.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0028.n}}</figcaption>
      <figcaption> Ref: AG0028 // Item com {{AG0028.t}} // {{AG0028.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0029.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0029.n}}</figcaption>
      <figcaption> Ref: AG0029 // Item com {{AG0029.t}} // {{AG0029.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0030.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0030.n}}</figcaption>
      <figcaption> Ref: AG0030 // Item com {{AG0030.t}} // {{AG0030.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0031.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0031.n}}</figcaption>
      <figcaption> Ref: AG0031 // Item com {{AG0031.t}} // {{AG0031.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0037.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0037.n}}</figcaption>
      <figcaption> Ref: AG0037 // Item com {{AG0037.t}} // {{AG0037.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0038.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0038.n}}</figcaption>
      <figcaption> Ref: AG0038 // Item com {{AG0038.t}} // {{AG0038.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0040.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0040.n}}</figcaption>
      <figcaption> Ref: AG0040 // Item com {{AG0040.t}} // {{AG0040.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0040.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0040.n}}</figcaption>
      <figcaption> Ref: AL0040 // Item com {{AL0040.t}} // {{AL0040.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0041.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0041.n}}</figcaption>
      <figcaption> Ref: AG0041 // Item com {{AG0041.t}} // {{AG0041.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0042.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0042.n}}</figcaption>
      <figcaption> Ref: AG0042 // Item com {{AG0042.t}} // {{AG0042.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0043.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0043.n}}</figcaption>
      <figcaption> Ref: AG0043 // Item com {{AG0043.t}} // {{AG0043.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0044.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0044.n}}</figcaption>
      <figcaption> Ref: AG0044 // Item com {{AG0044.t}} // {{AG0044.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0045.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0045.n}}</figcaption>
      <figcaption> Ref: AG0045 // Item com {{AG0045.t}} // {{AG0045.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0046.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0046.n}}</figcaption>
      <figcaption> Ref: AG0046 // Item com {{AG0046.t}} // {{AG0046.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0047.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0047.n}}</figcaption>
      <figcaption> Ref: AG0047 // Item com {{AG0047.t}} // {{AG0047.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0049.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0049.n}}</figcaption>
      <figcaption> Ref: AG0049 // Item com {{AG0049.t}} // {{AG0049.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0053.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0053.n}}</figcaption>
      <figcaption> Ref: AG0053 // Item com {{AG0053.t}} // {{AG0053.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0054.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0054.n}}</figcaption>
      <figcaption> Ref: AG0054 // Item com {{AG0054.t}} // {{AG0054.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0055.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0055.n}}</figcaption>
      <figcaption> Ref: AG0055 // Item com {{AG0055.t}} // {{AG0055.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0057.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0057.n}}</figcaption>
      <figcaption> Ref: AG0057 // Item com {{AG0057.t}} // {{AG0057.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0058.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0058.n}}</figcaption>
      <figcaption> Ref: AG0058 // Item com {{AG0058.t}} // {{AG0058.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0060.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0060.n}}</figcaption>
      <figcaption> Ref: AG0060 // Item com {{AG0060.t}} // {{AG0060.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0061.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0061.n}}</figcaption>
      <figcaption> Ref: AG0061 // Item com {{AG0061.t}} // {{AG0061.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0062.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0062.n}}</figcaption>
      <figcaption> Ref: AG0062 // Item com {{AG0062.t}} // {{AG0062.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0064.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0064.n}}</figcaption>
      <figcaption> Ref: AG0064 // Item com {{AG0064.t}} // {{AG0064.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0065.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0065.n}}</figcaption>
      <figcaption> Ref: AG0065 // Item com {{AG0065.t}} // {{AG0065.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0066.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0066.n}}</figcaption>
      <figcaption> Ref: AG0066 // Item com {{AG0066.t}} // {{AG0066.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0067.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0067.n}}</figcaption>
      <figcaption> Ref: AG0067 // Item com {{AG0067.t}} // {{AG0067.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0067_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0067_1.n}}</figcaption>
      <figcaption> Ref: AG0067_1 // Item com {{AG0067_1.t}} // {{AG0067_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0067_2.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0067.n}}</figcaption>
      <figcaption> Ref: AG0067 // Item com {{AG0067.t}} // {{AG0067.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0068.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0068.n}}</figcaption>
      <figcaption> Ref: AG0068 // Item com {{AG0068.t}} // {{AG0068.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0069.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0069.n}}</figcaption>
      <figcaption> Ref: AG0069 // Item com {{AG0069.t}} // {{AG0069.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0070.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0070.n}}</figcaption>
      <figcaption> Ref: AG0070 // Item com {{AG0070.t}} // {{AG0070.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0071.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0071.n}}</figcaption>
      <figcaption> Ref: AG0071 // Item com {{AG0071.t}} // {{AG0071.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0072.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0072.n}}</figcaption>
      <figcaption> Ref: AG0072 // Item com {{AG0072.t}} // {{AG0072.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0073.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0073.n}}</figcaption>
      <figcaption> Ref: AG0073 // Item com {{AG0073.t}} // {{AG0073.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0074.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0074.n}}</figcaption>
      <figcaption> Ref: AG0074 // Item com {{AG0074.t}} // {{AG0074.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0075.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0075.n}}</figcaption>
      <figcaption> Ref: AG0075 // Item com {{AG0075.t}} // {{AG0075.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0076.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0076_1.n}}</figcaption>
      <figcaption> Ref: AG0076_1 // Item com {{AG0076_1.t}} // {{AG0076_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0076.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0076.n}}</figcaption>
      <figcaption> Ref: AG0076 // Item com {{AG0076.t}} // {{AG0076.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0077.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0077.n}}</figcaption>
      <figcaption> Ref: AG0077 // Item com {{AG0077.t}} // {{AG0077.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0078.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0078.n}}</figcaption>
      <figcaption> Ref: AG0078 // Item com {{AG0078.t}} // {{AG0078.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0078_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0078_1.n}}</figcaption>
      <figcaption> Ref: AG0078_1 // Item com {{AG0078_1.t}} // {{AG0078_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0078_2.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0078_2.n}}</figcaption>
      <figcaption> Ref: AG0078_2 // Item com {{AG0078_2.t}} // {{AG0078_2.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0079.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0079.n}}</figcaption>
      <figcaption> Ref: AG0079 // Item com {{AG0079.t}} // {{AG0079.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0080.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0080.n}}</figcaption>
      <figcaption> Ref: AG0080 // Item com {{AG0080.t}} // {{AG0080.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0083.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0083.n}}</figcaption>
      <figcaption> Ref: AG0083 // Item com {{AG0083.t}} // {{AG0083.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0084.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0084.n}}</figcaption>
      <figcaption> Ref: AG0084 // Item com {{AG0084.t}} // {{AG0084.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0085.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0085.n}}</figcaption>
      <figcaption> Ref: AG0085 // Item com {{AG0085.t}} // {{AG0085.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0086.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0086.n}}</figcaption>
      <figcaption> Ref: AG0086 // Item com {{AG0086.t}} // {{AG0086.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_0.n}}</figcaption>
      <figcaption> Ref: AL0087 // Item com {{AL0087_0.t}} // {{AL0087_0.p}} </figcaption>
    </figure>
  </li>

<!--
  <li>
    <figure class='grid__figure'>
      <figcaption>CORES DISPONIVEIS PARA FLORES:</figcaption>
      <img src='../assets/photos/cores.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
    </figure>
  </li>
-->

<!-- 
  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087.n}}</figcaption>
      <figcaption> Ref: AL0087 // Item com {{AL0087.t}} // {{AL0087.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_1.n}}</figcaption>
      <figcaption> Ref: AL0087_1 // Item com {{AL0087_1.t}} // {{AL0087_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_2.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_2.n}}</figcaption>
      <figcaption> Ref: AL0087_2 // Item com {{AL0087_2.t}} // {{AL0087_2.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_3.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_3.n}}</figcaption>
      <figcaption> Ref: AL0087_3 // Item com {{AL0087_3.t}} // {{AL0087_3.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_4.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_4.n}}</figcaption>
      <figcaption> Ref: AL0087_4 // Item com {{AL0087_4.t}} // {{AL0087_4.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_5.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_5.n}}</figcaption>
      <figcaption> Ref: AL0087_5 // Item com {{AL0087_5.t}} // {{AL0087_5.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_6.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_6.n}}</figcaption>
      <figcaption> Ref: AL0087_6 // Item com {{AL0087_6.t}} // {{AL0087_6.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_7.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_7.n}}</figcaption>
      <figcaption> Ref: AL0087_7 // Item com {{AL0087_7.t}} // {{AL0087_7.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_8.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_8.n}}</figcaption>
      <figcaption> Ref: AL0087_8 // Item com {{AL0087_8.t}} // {{AL0087_8.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_9.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_9.n}}</figcaption>
      <figcaption> Ref: AL0087_9 // Item com {{AL0087_9.t}} // {{AL0087_9.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0087_10.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0087_10.n}}</figcaption>
      <figcaption> Ref: AL0087_10 // Item com {{AL0087_10.t}} // {{AL0087_10.p}} </figcaption>
    </figure>
  </li> 
-->

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_0.n}}</figcaption>
      <figcaption> Ref: AL0089 // Item com {{AL0089_0.t}} // {{AL0089_0.p}} </figcaption>
    </figure>
  </li>

<!--
  <li>
    <figure class='grid__figure'>
      <figcaption>CORES DISPONIVEIS PARA FLORES:</figcaption>
      <img src='../assets/photos/cores.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
    </figure>
  </li>
-->

<!--
  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089.n}}</figcaption>
      <figcaption> Ref: AL0089 // Item com {{AL0089.t}} // {{AL0089.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_1.n}}</figcaption>
      <figcaption> Ref: AL0089_1 // Item com {{AL0089_1.t}} // {{AL0089_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_2.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_2.n}}</figcaption>
      <figcaption> Ref: AL0089_2 // Item com {{AL0089_2.t}} // {{AL0089_2.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_3.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_3.n}}</figcaption>
      <figcaption> Ref: AL0089_3 // Item com {{AL0089_3.t}} // {{AL0089_3.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_4.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_4.n}}</figcaption>
      <figcaption> Ref: AL0089_4 // Item com {{AL0089_4.t}} // {{AL0089_4.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_5.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_5.n}}</figcaption>
      <figcaption> Ref: AL0089_5 // Item com {{AL0089_5.t}} // {{AL0089_5.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_6.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_6.n}}</figcaption>
      <figcaption> Ref: AL0089_6 // Item com {{AL0089_6.t}} // {{AL0089_6.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_7.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_7.n}}</figcaption>
      <figcaption> Ref: AL0089_7 // Item com {{AL0089_7.t}} // {{AL0089_7.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_8.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_8.n}}</figcaption>
      <figcaption> Ref: AL0089_8 // Item com {{AL0089_8.t}} // {{AL0089_8.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_9.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_9.n}}</figcaption>
      <figcaption> Ref: AL0089_9 // Item com {{AL0089_9.t}} // {{AL0089_9.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0089_10.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0089_10.n}}</figcaption>
      <figcaption> Ref: AL0089_10 // Item com {{AL0089_10.t}} // {{AL0089_10.p}} </figcaption>
    </figure>
  </li>
-->

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_0.n}}</figcaption>
      <figcaption> Ref: AL0090 // Item com {{AL0090_0.t}} // {{AL0090_0.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'>
      <figcaption>CORES DISPONIVEIS PARA FLOR GRANDE, MÉDIA E PEQUENA:</figcaption>
      <img src='../assets/photos/cores.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>Amarelo, Rosa bebê, Pink, Branco, Lilás, Azul bebê, Azul tifanny, Vermelho, Preto, Laranja, Bege, Verde agua</figcaption>
    </figure>
  </li>

<!--
  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090.n}}</figcaption>
      <figcaption> Ref: AL0090 // Item com {{AL0090.t}} // {{AL0090.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_1.n}}</figcaption>
      <figcaption> Ref: AL0090_1 // Item com {{AL0090_1.t}} // {{AL0090_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_2.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_2.n}}</figcaption>
      <figcaption> Ref: AL0090_2 // Item com {{AL0090_2.t}} // {{AL0090_2.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_3.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_3.n}}</figcaption>
      <figcaption> Ref: AL0090_3 // Item com {{AL0090_3.t}} // {{AL0090_3.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_4.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_4.n}}</figcaption>
      <figcaption> Ref: AL0090_4 // Item com {{AL0090_4.t}} // {{AL0090_4.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_5.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_5.n}}</figcaption>
      <figcaption> Ref: AL0090_5 // Item com {{AL0090_5.t}} // {{AL0090_5.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_6.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_6.n}}</figcaption>
      <figcaption> Ref: AL0090_6 // Item com {{AL0090_6.t}} // {{AL0090_6.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_7.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_7.n}}</figcaption>
      <figcaption> Ref: AL0090_7 // Item com {{AL0090_7.t}} // {{AL0090_7.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_8.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_8.n}}</figcaption>
      <figcaption> Ref: AL0090_8 // Item com {{AL0090_8.t}} // {{AL0090_8.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_9.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_9.n}}</figcaption>
      <figcaption> Ref: AL0090_9 // Item com {{AL0090_9.t}} // {{AL0090_9.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AL0090_10.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AL0090_10.n}}</figcaption>
      <figcaption> Ref: AL0090_10 // Item com {{AL0090_10.t}} // {{AL0090_10.p}} </figcaption>
    </figure>
  </li>
-->

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0088.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0088.n}}</figcaption>
      <figcaption> Ref: AG0088 // Item com {{AG0088.t}} // {{AG0088.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0091.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0091.n}}</figcaption>
      <figcaption> Ref: AG0091 // Item com {{AG0091.t}} // {{AG0091.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0092.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0092.n}}</figcaption>
      <figcaption> Ref: AG0092 // Item com {{AG0092.t}} // {{AG0092.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0092_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0092_1.n}}</figcaption>
      <figcaption> Ref: AG0092_1 // Item com {{AG0092_1.t}} // {{AG0092_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0093.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0093.n}}</figcaption>
      <figcaption> Ref: AG0093 // Item com {{AG0093.t}} // {{AG0093.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0094.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0094.n}}</figcaption>
      <figcaption> Ref: AG0094 // Item com {{AG0094.t}} // {{AG0094.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0094_1.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0094_1.n}}</figcaption>
      <figcaption> Ref: AG0094_1 // Item com {{AG0094_1.t}} // {{AG0094_1.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0095.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0095.n}}</figcaption>
      <figcaption> Ref: AG0095 // Item com {{AG0095.t}} // {{AG0095.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0096.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0096.n}}</figcaption>
      <figcaption> Ref: AG0096 // Item com {{AG0096.t}} // {{AG0096.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0100.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0100.n}}</figcaption>
      <figcaption> Ref: AG0100 // Item com {{AG0100.t}} // {{AG0100.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0101.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0101.n}}</figcaption>
      <figcaption> Ref: AG0101 // Item com {{AG0101.t}} // {{AG0101.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0102.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0102.n}}</figcaption>
      <figcaption> Ref: AG0102 // Item com {{AG0102.t}} // {{AG0102.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0103.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0103.n}}</figcaption>
      <figcaption> Ref: AG0103 // Item com {{AG0103.t}} // {{AG0103.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0104.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0104.n}}</figcaption>
      <figcaption> Ref: AG0104 // Item com {{AG0104.t}} // {{AG0104.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0105.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0105.n}}</figcaption>
      <figcaption> Ref: AG0105 // Item com {{AG0105.t}} // {{AG0105.p}} </figcaption>
    </figure>
  </li>

  <li>
    <figure class='grid__figure'><img src='../assets/photos/AG0106.png' alt='Imagem indisponivel, cheque sua conexão ou entre em contato em contatoartcolor@gmail.com'>
      <figcaption>{{AG0106.n}}</figcaption>
      <figcaption> Ref: AG0106 // Item com {{AG0106.t}} // {{AG0106.p}} </figcaption>
    </figure>
  </li>


</ul>

<router-outlet></router-outlet>
