/Semestre 02/BdD/13.02.20 Aula02/Janelas/nbproject/private/
/Semestre 02/BdD/13.02.20 Aula02/Janelas/build/
/Semestre 02/BdD/13.02.20 Aula02/Tarefa01/nbproject/private/
/Semestre 02/BdD/13.02.20 Aula02/Tarefa01/build/
/Semestre 02/BdD/13.02.20 Aula02/Tarefa01/dist/
/Semestre 02/Fundamentos e Estrutura de dados/13.02.20 Aula02/Baskara/nbproject/private/
/Semestre 02/Fundamentos e Estrutura de dados/13.02.20 Aula02/Baskara/build/
/Semestre 02/Tecnica de Programação/20.02.20 Aula03/Aula03/nbproject/private/
/Semestre 02/Tecnica de Programação/20.02.20 Aula03/Aula03/build/
/Semestre 02/Tecnica de Programação/20.02.20 Aula03/Aula03/dist/
/Semestre 02/Fundamentos e Estrutura de dados/Projeto/EstruturaDeDados/nbproject/private/
/Semestre 02/Fundamentos e Estrutura de dados/Projeto/EstruturaDeDados/build/
/Semestre 02/Tecnica de Programação/20.02.20 Aula03/ExercicioAula03/target/
/Semestre 02/Fundamentos e Estrutura de dados/Projeto/EstruturaDeDados/dist/
/Semestre 02/Fundamentos e Estrutura de dados/Projeto/EstruturaDeDadosTarefa4Kaue21964521/EstruturaDeDados/nbproject/private/
/Semestre 02/Tecnica de Programação/05.02.20 Aula05/Estoque/nbproject/private/
/Semestre 02/Tecnica de Programação/05.02.20 Aula05/Estoque/build/
/Semestre 02/Tecnica de Programação/12.03.20 Aula06/CalculadorImc/nbproject/private/
/Semestre 02/Tecnica de Programação/12.03.20 Aula06/CalculadorImc/build/
/Semestre 02/Tecnica de Programação/12.03.20 Aula06/exIMC/nbproject/private/
/Semestre 02/Tecnica de Programação/12.03.20 Aula06/Ferramentas/nbproject/private/
/Semestre 02/Tecnica de Programação/12.03.20 Aula06/Ferramentas/build/
/Semestre 02/Tecnica de Programação/26.03.20 Aula08/BancoDeDados/nbproject/private/
/Semestre 02/Tecnica de Programação/02.04.2020 Aula09/Aula09/nbproject/private/
/Semestre 02/Tecnica de Programação/02.04.2020 Aula09/Aula09/build/