html{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #F4F4F4;
}

body{
  background-image: url("https://source.unsplash.com/1600x900/?portrait");
  background-color: rgba(101,103,101,0.7);
  background-blend-mode: multiply;
  object-fit: contain;
  background-repeat: no-repeat;
}

ul{
  display: inline-flex;
  align-items: center;
  max-width: 90%;
}

li{
  text-decoration: none;
  margin: auto;
}

a{
  text-decoration: none;
  color: #F4F4F4;
}

main{
  height: 100%;
}

footer{
  position: relative;
  height: auto;
  width: 100%;
  background-color:
}
