#maior{
  margin-top: 100px;
  margin-left: 100px;
  padding: 20px 50px;

  border: 10px #ff0000 solid;

  width: 400px;
  height: 600px;

  background-color: #000;
  color: rgb(255,255,255);

  text-align:justify;
}

#menor{
  width: 200px;
  height: 100px;
  background-color: rgba(255,0,0,.4);
  color: #00ff00;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
  border: dashed 3px #0000ff;
}
